$cmyk-c: rgb(0, 146, 223)
$cmyk-m: rgb(255, 31, 176)
$cmyk-y: rgb(253, 255, 31)
$cmyk-k: rgb(51, 51, 51)

$grey: #A9A9A9
$grey-border: #848484
$pages-bg: #FFF8DC
$pages-border: #CED8F6
$main-bg: #ffffff
$main-blue: rgb(30, 0, 127)
$control-bg: rgb(55, 70, 70)
$text-white: #FFFFE0
$text-yellow: #FFD700
