.header-main
    background-color: $control-bg
    padding-top: 5px
    padding-left: 20px

.header__info
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif
    // font-weight: 700
    margin: 0
    color: $text-white
    // display: inline-block
    & span
        font-weight: 700
        font-size: 20px
        color: $text-yellow

.choose-pages
    position: relative
    list-style: none
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif
    font-size: 16px
    padding: 0

.choose-pages-fieldset
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif
    font-size: 14px
    border-radius: 5px
    margin: 10px

.choose-pages__radio
    position: relative
    left: -37px
    top: -12px

.choose-pages__lable
    position: relative
    left: -32px
    top: -14px
    & span  
        color: $text-yellow
        // font-weight: 700