.header-main
    background-color: $grey
    padding-top: 5px
    padding-left: 20px

.header__info
    font-family: Geneva, Arial, Helvetica, sans-serif
    font-weight: 700
    margin: 0
    // display: inline-block
    & span
        color: red

.choose-pages
    list-style: none
    font-family: Geneva, Arial, Helvetica, sans-serif
    font-size: 16px
    padding: 0

.choose-pages-fieldset
    font-family: Geneva, Arial, Helvetica, sans-serif
    font-size: 14px
    border-radius: 5px
    margin: 10px