body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Ristretto Slab Pro';
  src: local("../fonts/Ristretto Slab Pro Bold"), local("Ristretto-Slab-Pro-Bold"), url("../fonts/RistrettoSlabPro-Bold.woff2") format("woff2"), url("../fonts/RistrettoSlabPro-Bold.woff") format("woff"), url("../fonts/RistrettoSlabPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Bold';
  src: url("../fonts/D-DIN-Bold.eot");
  src: url("../fonts/D-DIN-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/D-DIN-Bold.woff") format("woff"), url("../fonts/D-DIN-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-main {
  background-color: #DCDCDC;
}

.page-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.page-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 180px 180px 180px;
      grid-template-columns: 180px 180px 180px 180px;
  -ms-grid-rows: 120px 120px 120px;
      grid-template-rows: 120px 120px 120px;
  grid-auto-flow: column;
  grid-gap: 30px;
}

.page-pair {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 162px;
  height: 112px;
}

.page__el-make-up,
.page__el-photo_left,
.page__el-photo_right,
.page__el-delegated,
.page__el-number {
  opacity: 1;
  font-family: 'D-DIN Bold';
  font-size: 23px;
  color: #848484;
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.page__el-make-up {
  height: 17px;
  width: 17px;
  background-image: url("../img/v-0.svg");
}

.page_make-up .page__el-make-up {
  background-image: url("../img/v-1.svg");
}

.page__el-delegated {
  height: 28px;
  width: 28px;
  background-image: url("../img/delegeted-0.svg");
}

.page_delegated .page__el-delegated {
  background-image: url("../img/delegeted-1.svg");
}

.page__el-color {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/cmyk-0.svg");
}

.page_color .page__el-color {
  background-image: url("../img/cmyk-1.svg");
}

.page_pos_left .page__el-number {
  left: 32px;
  top: 3px;
}

.page_pos_left .page__el-make-up {
  left: 6px;
  top: 81px;
}

.page_pos_left .page__el-color {
  left: 6px;
  top: 6px;
}

.page_pos_left .page__el-delegated {
  left: 42px;
  top: 83px;
}

.page_pos_right .page__el-number {
  left: 110px;
  top: 3px;
}

.page_pos_right .page__el-make-up {
  left: 139px;
  top: 81px;
}

.page_pos_right .page__el-color {
  left: 139px;
  top: 6px;
}

.page_pos_right .page__el-delegated {
  left: 92px;
  top: 83px;
}

.page__el-photo_left {
  left: 13px;
  top: 33px;
  height: 38px;
  width: 55px;
  background-image: url("../img/photo-left-0.svg");
}

.page_photo .page__el-photo_left {
  background-image: url("../img/photo-left-1.svg");
}

.page__el-photo_right {
  left: 93px;
  top: 33px;
  height: 38px;
  width: 55px;
  background-image: url("../img/photo-right-0.svg");
}

.page_photo .page__el-photo_right {
  background-image: url("../img/photo-right-1.svg");
}

.page__el-make-up:hover {
  opacity: 0.7;
  background-image: url("../img/v-2.svg");
}

.page__el-make-up:focus {
  outline: none;
}

.page__el-photo_left:hover {
  opacity: 0.7;
  background-image: url("../img/photo-left-2.svg");
}

.page__el-photo_left:focus {
  outline: none;
}

.page__el-photo_right:hover {
  opacity: 0.7;
  background-image: url("../img/photo-right-2.svg");
}

.page__el-photo_right:focus {
  outline: none;
}

.page__el-delegated:hover {
  opacity: 0.7;
  background-image: url("../img/delegeted-2.svg");
}

.page__el-delegated:focus {
  outline: none;
}

.page__el-background_left,
.page__el-background_right {
  position: absolute;
  margin: 0;
  z-index: 0;
}

.page__el-background_left {
  left: 6px;
  top: 5px;
  height: 96px;
  width: 70px;
  background-image: url("../img/page-fon-left-0.svg");
}

.page__el-background_right {
  left: 86px;
  top: 5px;
  height: 96px;
  width: 70px;
  background-image: url("../img/page-fon-right-0.svg");
}

.page_make-up .page__el-background_right {
  background-image: url("../img/page-fon-right-1.svg");
}

.page_make-up .page__el-background_left {
  background-image: url("../img/page-fon-left-1.svg");
}

.page_make-up .page__el-number {
  color: #1e007f;
}

.page_make-up .page__el-color {
  opacity: 1;
}

.page_delegated .page__el-background_right {
  background-image: url("../img/page-fon-right-2.svg");
}

.page_delegated .page__el-background_left {
  background-image: url("../img/page-fon-left-2.svg");
}

.page_delegated .page__el-number {
  color: #1e007f;
}

.page_delegated .page__el-color {
  opacity: 1;
}

.all-blocks {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "controls pages pages" "footer footer footer";
  -ms-grid-columns: 200px 1fr 1px;
      grid-template-columns: 200px 1fr 1px;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
  grid-gap: 10px;
  width: 100%;
  height: 98vh;
  margin: 0;
  background-color: #ffffff;
}

.header-main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  border-bottom: 1px solid #848484;
}

.control-panel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: controls;
  background-color: #DCDCDC;
  border: 1px solid #848484;
  border-radius: 5px;
}

.main-block {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: pages;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EFF5FB;
  border: 1px solid #CED8F6;
  border-radius: 5px;
}

.footer-main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  border-top: 1px solid #848484;
}

.visually-hidden {
  position: absolute !important;
  visibility: hidden !important;
  pointer-events: none !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  text-indent: -9999px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.footer-main {
  background-color: #DCDCDC;
}
/*# sourceMappingURL=style.css.map */