.b-page-pair
    display: block
    height: 112px
    width: 162px
    background-image: url('../img/pair.svg')
    background-repeat: no-repeat

.b-page
    &_orientation_left .b-page__fon
        position: relative
        height: 112px
        background-image: url('../img/page-fon-left-0.svg')
        background-repeat: no-repeat
        left: 0px
        top: opx
  